html,body,#__nuxt,#__layout,#__layout > div {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
#__layout > div {
  display: flex;
  flex-direction: column;
}
.fa{
  font-size: 1rem;
  vertical-align: middle;
}
.fa-2x {
  font-size: 2rem;
}
.fa-3x {
  font-size: 3rem;
}
.text-s11 {
  font-size: 11px;
}
.text-s12 {
  font-size: 12px;
}
.text-number {
  font-size: 1.125rem;
  font-family: Arial, Helvetica, "sans-serif";
  font-weight: bold;
  color: #74c23a;
}
.w5p {
  width: 5%;
}
.w10p {
  width: 10%;
}
.w15p {
  width: 15%;
}
.w20p {
  width: 20%;
}
.w25p {
  width: 25%;
}
.w30p {
  width: 30%;
}
.w40p {
  width: 40%;
}
.link-style:hover {
  text-decoration: none;
}
.setting-button .fa {
  vertical-align: text-top;
}
.setting-button .btn {
  background-color: #fff;
}
.header, .footer {
  background-color: #fff;
}
.header {
  border-bottom: 1px solid #ddd;
  padding: 7px 0;
}
.header-nav .user-id{
  font-size: .75rem;
}
.sign-out {
  width: 60px;
  text-align: right;
}
.footer-container {
  margin-top: auto;
}
.footer {
  border-top: 1px solid #ddd;
  margin-top: auto;
  padding: 20px 0;
}
.footer-nav {
  float: left;
  vertical-align: middle;
}
.copyright {
  float: right;
  vertical-align: middle;
  font-size: .75rem;
}
.footer-nav .nav-link {
  padding: 0;
  margin: 0 15px 0 0;
  color: #212529;
  font-size: .875rem;
}

@media screen and (max-width: 480px){
.header {
  margin-bottom: 0;
}
.footer {
  margin-top: 0;
}
.footer-nav {
  float: none;
  margin-bottom: 15px;
}
.copyright {
  float: none;
  text-align: center;
}
.footer-nav .nav-link {
  font-size: .75rem;
}
}
.stepbar >.nav {
  display: table;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 0;
  padding: 0;
  background: #fbfbfb;
  list-style: none;
  overflow: hidden;
  width: 100%;
  font-size: .875rem;
}
.stepbar > .nav > li {
  display: table-cell;
  padding: 12px 20px;
  position: relative;
  text-align: center;
}
.stepbar > .nav > li:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #ddd;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: -15px;
  left: 100%;
  z-index: 1
}
.stepbar > .nav > li:last-child:before {
  border-left: 0;
}
.stepbar > .nav > li:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #fbfbfb;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: -16px;
  left: 100%;
  z-index: 2
}
.stepbar > .nav > li.active {
  background-color: #74c23a;
  color: #fff;
}
.stepbar > .nav > li.active:after {
  border-left-color: #74c23a;
}
.section-document {
  padding: 25px 30px 30px;
}
.section {
  margin: 0 auto 35px;
}
.header-light {
  color: #74c23a;
  background-color: #fff;
  font-weight: bold;
}
.headline {
  font-size: 1rem;
  color: #74c23a;
  font-weight: bold;
  margin-bottom: .5rem;
}
.headline-sm {
  font-size: 0.875rem;
  color: #74c23a;
  font-weight: bold;
  margin-bottom: .5rem;
}
.heading-underline {
  display: block;
  margin: 0 0 30px 0;
  border-bottom: 1px solid #ddd;
}
.heading-underline .heading-text {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 -1px 0;
  padding-bottom: 5px;
  padding-right: 10px;
  display: inline-block;
  border-bottom: 1px solid #74c23a;
}
.heading-l2 {
  font-size: 1rem;
  font-weight: bold;
}
.section ol,
.section ul {
  padding-left: 1.5rem;
}
.form-headline {
  font-weight: bold;
  margin-bottom: .3rem;
}
.form-custom-control .custom-radio {
  margin-bottom: .1rem;
}
.form-custom-control .custom-radio:last-child {
  margin-bottom: 0;
}
.card-footer {
  background-color: #fff;
}
.card-footer .btn {
  padding: 0.6rem 3rem;
}
.card-footer .btn-sm {
  padding: 0.6rem 1rem;
}
.header-alert-fix{
  text-align: center;
  font-size: 1.0rem;
  color: #333;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}
.header-alert-fix.alert-warning .fa {
  color: #fbc900;
  font-size: 1.625rem;
}
.alert-danger {
  color: #d93600;
  background-color: #ffdddd;
  border-color: #ffbba4;
}
.timeline-option {
  margin-bottom: 1em;
}
.timeline-option .btn-light{
  border-color: #ccc;
}
.timeline {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #f9f9f9;
  padding: 1rem;
  width: 100%;
  overflow-x: auto;
}
.timeline-horizontal {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: table;
  overflow-x: auto;
  position: relative;
}
.timeline-horizontal:before {
  content: '';
  border: 2px solid #74c23a;
  width: calc(100% + 1.25rem - 110px);
  position: absolute;
  top: 70px;
  left: -1.25rem;
  z-index: 1;
}
.timeline-horizontal .timeline-item {
  width: 200px;
  display: table-cell;
  padding: 0 20px 0 0;
  text-align: center;
  position: relative;
  z-index: 2;
}
.timeline-date .time-text {
  font-size: 1.25rem;
  color: #74c23a;
}
.timeline-badge {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #74c23a;
}
.timeline-badge .fa {
  line-height: 40px;
  color: #fff;
}
.timeline-panel {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  position: relative;
}
.timeline-horizontal .timeline-panel {
  margin-top: 15px;
}
.timeline-horizontal .timeline-panel:after,
.timeline-horizontal .timeline-panel:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.timeline-horizontal .timeline-panel:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.timeline-horizontal .timeline-panel:before {
	border-color: rgba(221, 221, 221, 0);
	border-bottom-color: #ddd;
	border-width: 11px;
	margin-left: -11px;
}
.timeline-vertical .timeline-item:nth-child(odd) .timeline-panel:after,
.timeline-vertical .timeline-item:nth-child(odd) .timeline-panel:before {
	top: 25%;
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.timeline-vertical .timeline-item:nth-child(odd) .timeline-panel:after {
	border-color: rgba(255, 255, 255, 0);
    border-width:8px;
    margin-top: -8px;
    border-right-color:#fff;
}
.timeline-vertical .timeline-item:nth-child(odd) .timeline-panel:before {
	border-color: rgba(221, 221, 221, 0);
    border-width:9px;
    margin-top: -9px;
    margin-right: 0;
    border-right-color:#ddd;
}
.timeline-vertical .timeline-item:nth-child(even) .timeline-panel:after,
.timeline-vertical .timeline-item:nth-child(even) .timeline-panel:before {
	top: 25%;
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.timeline-vertical .timeline-item:nth-child(even) .timeline-panel:after {
	border-color: rgba(255, 255, 255, 0);
    border-width:8px;
    margin-top: -8px;
    border-left-color:#fff;
}
.timeline-vertical .timeline-item:nth-child(even) .timeline-panel:before {
	border-color: rgba(221, 221, 221, 0);
    border-width:9px;
    margin-top: -9px;
    margin-left: 0;
    border-left-color:#ddd;
}
.timeline-caption {
  text-align: left;
  font-size: .75rem;
  margin-top: 5px;
}
.timeline-vertical {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: block;
  overflow-x: auto;
  position: relative;
}
.timeline-vertical:before {
  content: '';
  border: 2px solid #74c23a;
  width: 2px;
  height: calc(100% - 140px);
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}
.timeline-vertical .timeline-item {
  width: 100%;
  display: block;
  padding: 0;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 2;
}
.timeline-vertical .timeline-date {
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: 30px;
  text-align: right;
  line-height: 1.2;
}
.timeline-vertical .timeline-item:nth-child(even) .timeline-date {
  position: absolute;
  top: 0;
  right: auto;
  left: 50%;
  margin-left: 30px;
  text-align: left;
  line-height: 1.2;
}
.timeline-vertical .timeline-date .time-text {
    font-size: 1.375rem;
    color: #74c23a;
}
.timeline-vertical .timeline-badge {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20px;
}
.timeline-vertical .timeline-panel {
  display: inline-block;
  margin-left: 250px;
}
.timeline-vertical .timeline-item:nth-child(even) .timeline-panel {
  display: inline-block;
  margin-left: 0;
  margin-right: 250px;
}
.timeline-vertical .timeline-caption {
  width: 155px;
}
@media screen and (max-width: 578px){
.card-footer .btn {
  padding: 0.6rem;
}
.main > .container > .mt-5 {
  margin-top: 1rem !important;
}
.main > .container > .mb-5 {
  margin-bottom: 1rem !important;
}
.timeline {
  text-align: center;
}
.timeline-vertical {
  display: inline-block;
}
.timeline-vertical .timeline-item {
  text-align: left;
}
.timeline-vertical .timeline-date {
  position: relative;
  top: 0;
  left: 0;
  text-align: right;
  display: inline-block;
  float: left;
}
.timeline-vertical .timeline-badge {
  text-align: center;
}
.timeline-vertical:before,
.timeline-vertical .timeline-badge {
  left: 100px;
}
.timeline-vertical .timeline-panel {
  margin-left: 35px;
  float: left;
}
.timeline-vertical .timeline-item:nth-child(even) .timeline-date {
  position: relative;
  top: 0;
  left: 0;
  right: auto;
  margin-left: 30px;
  margin-left: 0;
  text-align: right;
  line-height: 1.2;
  float: left;
}
.timeline-vertical .timeline-item:nth-child(even) .timeline-panel {
  display: inline-block;
  float: left;
  margin-left: 35px;
  margin-right:  0;
}
.timeline-vertical .timeline-item:nth-child(even) .timeline-panel:after,
.timeline-vertical .timeline-item:nth-child(even) .timeline-panel:before {
	top: 25%;
    right: 100%;
	left: auto;
	border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.timeline-vertical .timeline-item:nth-child(even) .timeline-panel:after {
	border-color: rgba(255, 255, 255, 0);
    border-width: 8px;
    margin-top: -8px;
    border-right-color: #fff;
}
.timeline-vertical .timeline-item:nth-child(even) .timeline-panel:before {
	border-color: rgba(221, 221, 221, 0);
    border-width: 9px;
    margin-top: -9px;
    margin-right: 0;
    border-right-color: #ddd;
}
}
@media screen and (max-width: 480px){
.card-body {
  padding: 1rem;
}
.header-brand img {
  width: 150px;
}
.stepbar >.nav {
  font-size: .75rem;
}
.stepbar > .nav > li {
  padding: 10px;
}
.timeline {
  padding: 10px;
}
.timeline-vertical .timeline-panel {
  padding: 5px;
}
.timeline-vertical .timeline-panel .thumbnail,
.timeline-vertical .timeline-caption {
  width: 110px;
}
.option-label {
  font-size: .75rem;
}
.timeline-vertical:before {
  height: calc(100% - 102px);
}
}
@media screen and (max-width: 380px){
.stepbar > .nav > li:before,
.stepbar > .nav > li:after {display: none;}
.stepbar > .nav > li {border-right: 1px solid #ddd;}
.stepbar > .nav > li:last-child {border-right: none;}
.timeline-vertical .timeline-panel .thumbnail,
.timeline-vertical .timeline-caption {
  width: 85px;
}
}
.loader {
  color: #fff;
  position: fixed;
  box-sizing: border-box;
  left: -9999px;
  top: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: 999999;
  background-color: rgba(0, 0, 0, .9);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0
}
.loader:after, .loader:before {
  box-sizing: border-box;
}
@keyframes rotation {
  0% {
    transform: rotate(0)
  }
  to {
    transform: rotate(359deg)
  }
}
@keyframes blink {
  0% {
    opacity: .5
  }
  to {
    opacity: 1
  }
}
.loader:after {
  content: "";
  position: fixed;
  width: 48px;
  height: 48px;
  border: 8px solid #fff;
  border-left-color: transparent;
  border-radius: 50%;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  animation: rotation 1s linear infinite
}
.alert-message .alert-icon .fa {
  font-size: 1.8rem;
  color: #74c23a;
  margin-right: 5px;
  vertical-align: bottom;
}
.alert-message .alert-text {
  font-size: 1.1rem;
}
.marking-controls {
  padding: 7px 0;
}
.form-row:last-child .form-group {
  margin-bottom: 0;
}
.pagination {
  margin-bottom: 0;
}
.table {
  background-color: #fff;
}
.section {
  margin-bottom: 20px;
}
.btn-secondary {
  color: #333;
  background-color: #f9f9f9;
  border-color: #ccc;
}
.btn-secondary:hover,
.btn-secondary:focus{
  color: #333;
  background-color: #e2e6ea;
  border-color: #ddd;
}
.page-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.table-title {
  font-size: 1rem;
  margin-bottom: 10px;
}
.page-item.disabled .page-link .fa {
  color: #ddd;
}
.alert.search-result {
  border: 1px solid #F4D790;
  background-color: #F8F8D3;
  color: #9A7B3F;
  margin-top: 30px;
}
.alert.search-result .fa {
  color: #DC9925;
  font-size: 1.2rem;
  margin-right: 3px;
}
.system-error .card-header {
  background-color: #F42F2F;
}
.footer-note {
  font-size: 11px;
  color: #D90000;
  float: left;
  margin-top: 3px;
}
@media screen and (max-width: 989px){
.footer-note {
  margin-top: 10px;
}
}
@media screen and (max-width: 480px){
.footer-nav {
  float: none;
  margin-bottom: 5px;
}
.copyright {
  margin-bottom: 10px;
}
.footer-note {
  margin-top: 0;
}
}