$theme-colors: (
  "primary": #74C23A
);
$yiq-contrasted-threshold:  160 !default;
$font-family-sans-serif:   "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,sans-serif !default;
$font-size-base:  .875rem !default;
$btn-font-size-lg: 1rem !default;
$btn-padding-y-lg: .8rem !default;
$card-cap-bg:  #74C23A !default;
$card-cap-color:  #fff !default;
$badge-font-size:  .75rem !default;
$badge-padding-y:  .3rem !default;
$badge-padding-x:  .4rem !default;
$card-border-radius: 0 !default;
$list-group-border-radius: 0 !default;