#PRE00001 .header {
  margin-bottom: auto;
}
.form-signin {
  max-width: 410px;
  margin: 5rem auto;
}
.error .form-control {
  border-color: #dc3545;
}
.help-block {
  margin-top: 5px;
}
.error .help-block {
  color: #dc3545;
}

@media screen and (max-width: 480px){
#PRE00001 .header {
  margin-bottom: 0;
}
.form-signin {
  margin: 0 auto;
  max-width: 100%;
}
.form-signin .card {
  border: none;
}
.form-signin .card-header:first-child{
  border-radius: 0;
}
.form-signin .card-body{
  margin-bottom: 3rem;
}
}
.checker-thumb .video-container {
  padding-right: 10px;
}
.checker-thumb .video-wrap {
  background-color: #333;
  font-size: 0;
}
.checker-thumb .media-info {
  background-color: #ccc;
  opacity: 0.7;
  padding: 3px;
}
.checker-thumb .media-status {
  font-size: 12px;
  padding: 1px 5px;
}
.checker-thumb .media-info .fa {
  font-size: .8rem;
}
@media (max-width: 768px) {
  .checker-thumb .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .checker-thumb .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
@media screen and (max-width: 480px) {
  .form-signin .checker-thumb {
    margin-bottom: 0;
  }
}